* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f1f1f1;
}

.container {
  width: 500px;
  margin: 200px auto;
}

.card {
  background-color: #373f4d;
  color: #fff;
  padding: 60px 50px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.card h3 {
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 15px;
}

.card p {
  font-size: 18px;
  margin-bottom: 30px;
}

.card .form-group {
  margin-bottom: 20px;
}

.card input[type="text"] {
  width: 100%;
  padding: 20px;
  font-size: 18px;
  outline: none;
  border: none;
  background-color: #f1f1f1;
}

.card .btn {
  border: none;
  width: 100%;
  padding: 20px;
  font-size: 18px;
  background: linear-gradient(
    90deg,
    rgba(242, 132, 62, 1) 21%,
    rgba(239, 111, 69, 1) 61%
  );
  color: #fff;
  cursor: pointer;
}

.card .btn:hover {
  background: linear-gradient(
    90deg,
    rgba(255, 151, 98, 1) 13%,
    rgba(255, 123, 89, 1) 100%
  );
}
