* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
a {
  color: #333;
}
a:hover {
  color: coral;
}

h2 {
  margin-bottom: 20px;
}

p {
  margin: 20px 0;
}

.header {
  background: coral;
  padding: 40px;
}

.main-menu {
  display: flex;
  background-color: #f4f4f4;
  gap: 20px;
  padding: 20px;
}

.main-menu a {
  font-size: 20px;
}

.main {
  display: flex;
  padding: 40px;
  gap: 70px;
}

.main section {
  flex: 1;
}

.main aside p {
  font-size: 18px;
  line-height: 1.6;
}

.main aside {
  width: 300px;
}

.main aside h3 {
  background-color: coral;
  padding: 10px;
  color: #fff;
}

.main aside li {
  padding: 15px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ccc;
}

/* Add Responsiveness */

@media screen and (max-width: 768px) {
  .header {
    padding: 25px;
  }

  .main aside {
    width: 250px;
  }
}

@media (max-width: 550px) {
  .header {
    font-size: 14px;
    text-align: center;
  }

  .main-menu {
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    padding-bottom: 2px;
  }

  .main-menu a {
    display: block;
    width: 100%;
    text-align: center;
    border-bottom: 1px dotted #ccc;
    font-size: 18px;
    padding-bottom: 7px;
  }

  .main {
    flex-direction: column-reverse;
    align-items: center;
    gap: 30px;
  }

  .main aside {
    width: 100%;
  }
}
