* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

main {
  container-type: inline-size;
  container-name: main;
  max-width: 1100px;
  background-color: #f4f4f4;
  padding: 2rem;
  margin: 0 auto;
  height: 100vh;
}

.card {
  padding: 20px;
  background-color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 20px;
}

/* Container Units */
.card-one {
  width: 50cqw;
}

.card-two {
  width: 70cqw;
  height: 50cqh;
}

@container main (max-width: 600px) {
  .card {
    width: 100cqw;
    background-color: lightblue;
  }
}
