* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: lightblue;
  --secondary-color: cadetblue;
  --tertiary-color: blanchedalmond;
  --body-background-color: #f4f4f4;
  --default-box-color: white;
  --shadow-opacity: 0.1;
  --container-width: 600px;
  --container-width-large: 1100px;
}

body {
  background-color: var(--body-background-color);
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.header {
  text-align: center;
  background-color: var(--primary-color);
  padding: 20px 0;
}

.container {
  max-width: var(--container-width);
  margin: 200px auto;
  display: flex;
  gap: 30px;
}

.container-lg {
  max-width: var(--container-width-large);
}

.box {
  flex: 1;
  background-color: var(--default-box-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, var(--shadow-opacity));
}

.box-1 {
  background-color: var(--primary-color);
}

.box-2 {
  background-color: var(--secondary-color);
}

.box-3 {
  background-color: var(--tertiary-color);
}
